<%= simple_form_for(@evaluation) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :category_name_1 %>
    <%= f.input :objective11, as: :text, input_html: {rows: "3"} %>
    <%= f.input :objective11_comments, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective11_eval_comments, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective11_qualifier %>
    <%= f.input :objective11_evalq %>
    <%= f.input :nextpobjective11, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective21, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective21_comments, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective21_eval_comments, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective21_qualifier %>
    <%= f.input :objective21_evalq %>
    <%= f.input :nextpobjective21, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective31, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective31_comments, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective31_eval_comments, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective31_qualifier %>
    <%= f.input :objective31_evalq %>
    <%= f.input :nextpobjective31, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :category_name_2 %>
    <%= f.input :objective12, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective12_comments, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective12_eval_comments, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective12_qualifier %>
    <%= f.input :objective12_evalq %>
    <%= f.input :nextpobjective12, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective22, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective22_comments, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective22_eval_comments, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective22_qualifier %>
    <%= f.input :objective22_evalq %>
    <%= f.input :nextpobjective22, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective32, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective32_comments, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective32_eval_comments, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective32_qualifier %>
    <%= f.input :objective32_evalq %>
    <%= f.input :nextpobjective32, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :category_name_3 %>
    <%= f.input :objective13, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective13_comments, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective13_eval_comments, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective13_qualifier %>
    <%= f.input :objective13_evalq %>
    <%= f.input :nextpobjective13, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective23, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective23_comments, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective23_eval_comments, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective23_qualifier %>
    <%= f.input :objective23_evalq %>
    <%= f.input :nextpobjective23, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective33, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective33_comments, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective33_eval_comments, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective33_qualifier %>
    <%= f.input :objective33_evalq %>
    <%= f.input :category_name_4 %>
    <%= f.input :objective14, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective14_comments, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective14_eval_comments, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective14_qualifier, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective14_evalq %>
    <%= f.input :nextpobjective14, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective24, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective24_comments, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective24_eval_comments, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective24_qualifier %>
    <%= f.input :objective24_evalq %>
    <%= f.input :nextpobjective24, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective34, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective34_comments, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective34_eval_comments, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective34_qualifier %>
    <%= f.input :objective34_evalq %>
    <%= f.input :nextpobjective34, as: :text, input_html: {rows: "3"}  %>

    <%= f.input :category_name_5 %>
    <%= f.input :objective15, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective15_comments, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective15_eval_comments, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective15_qualifier %>
    <%= f.input :objective15_evalq %>
    <%= f.input :nextpobjective15, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective25, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective25_comments, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective25_eval_comments, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective25_qualifier %>
    <%= f.input :objective25_evalq %>
    <%= f.input :nextpobjective25, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective35, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective35_comments, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective35_eval_comments, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :objective35_qualifier %>
    <%= f.input :objective35_evalq %>
    <%= f.input :nextpobjective35, as: :text, input_html: {rows: "3"}  %>
    <%= f.input :overalleval %>
    <%= f.input :user_id %>
    <%= f.input :year %>
    <%= f.input :evaluator_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
