<%= simple_form_for(@evaluation) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :category_name_1 %>
    <%= f.input :objective11 %>
    <%= f.input :objective11_comments %>
    <%= f.input :objective11_eval_comments %>
    <%= f.input :objective11_qualifier %>
    <%= f.input :objective11_evalq %>
    <%= f.input :nextpobjective11 %>
    <%= f.input :objective21 %>
    <%= f.input :objective21_comments %>
    <%= f.input :objective21_eval_comments %>
    <%= f.input :objective21_qualifier %>
    <%= f.input :objective21_evalq %>
    <%= f.input :nextpobjective21 %>
    <%= f.input :objective31 %>
    <%= f.input :objective31_comments %>
    <%= f.input :objective31_eval_comments %>
    <%= f.input :objective31_qualifier %>
    <%= f.input :objective31_evalq %>
    <%= f.input :nextpobjective31 %>
    <%= f.input :category_name_2 %>
    <%= f.input :objective12 %>
    <%= f.input :objective12_comments %>
    <%= f.input :objective12_eval_comments %>
    <%= f.input :objective12_qualifier %>
    <%= f.input :objective12_evalq %>
    <%= f.input :nextpobjective12 %>
    <%= f.input :objective22 %>
    <%= f.input :objective22_comments %>
    <%= f.input :objective22_eval_comments %>
    <%= f.input :objective22_qualifier %>
    <%= f.input :objective22_evalq %>
    <%= f.input :nextpobjective22 %>
    <%= f.input :objective32 %>
    <%= f.input :objective32_comments %>
    <%= f.input :objective32_eval_comments %>
    <%= f.input :objective32_qualifier %>
    <%= f.input :objective32_evalq %>
    <%= f.input :nextpobjective32 %>
    <%= f.input :category_name_3 %>
    <%= f.input :objective13 %>
    <%= f.input :objective13_comments %>
    <%= f.input :objective13_eval_comments %>
    <%= f.input :objective13_qualifier %>
    <%= f.input :objective13_evalq %>
    <%= f.input :nextpobjective13 %>
    <%= f.input :objective23 %>
    <%= f.input :objective23_comments %>
    <%= f.input :objective23_eval_comments %>
    <%= f.input :objective23_qualifier %>
    <%= f.input :objective23_evalq %>
    <%= f.input :nextpobjective23 %>
    <%= f.input :objective33 %>
    <%= f.input :objective33_comments %>
    <%= f.input :objective33_eval_comments %>
    <%= f.input :objective33_qualifier %>
    <%= f.input :objective33_evalq %>
    <%= f.input :category_name_4 %>
    <%= f.input :objective14 %>
    <%= f.input :objective14_comments %>
    <%= f.input :objective14_eval_comments %>
    <%= f.input :objective14_qualifier %>
    <%= f.input :objective14_evalq %>
    <%= f.input :nextpobjective14 %>
    <%= f.input :objective24 %>
    <%= f.input :objective24_comments %>
    <%= f.input :objective24_eval_comments %>
    <%= f.input :objective24_qualifier %>
    <%= f.input :objective24_evalq %>
    <%= f.input :nextpobjective24 %>
    <%= f.input :objective34 %>
    <%= f.input :objective34_comments %>
    <%= f.input :objective34_eval_comments %>
    <%= f.input :objective34_qualifier %>
    <%= f.input :objective34_evalq %>
    <%= f.input :nextpobjective34 %>
    <%= f.input :nextpobjective34 %>
    <%= f.input :category_name_4 %>
    <%= f.input :objective14 %>
    <%= f.input :objective14_comments %>
    <%= f.input :objective14_eval_comments %>
    <%= f.input :objective14_qualifier %>
    <%= f.input :objective14_evalq %>
    <%= f.input :nextpobjective14 %>
    <%= f.input :objective24 %>
    <%= f.input :objective24_comments %>
    <%= f.input :objective24_eval_comments %>
    <%= f.input :objective24_qualifier %>
    <%= f.input :objective24_evalq %>
    <%= f.input :nextpobjective24 %>
    <%= f.input :objective34 %>
    <%= f.input :objective34_comments %>
    <%= f.input :objective34_eval_comments %>
    <%= f.input :objective34_qualifier %>
    <%= f.input :objective34_evalq %>
    <%= f.input :nextpobjective34 %>
    <%= f.input :category_name_5 %>
    <%= f.input :objective15 %>
    <%= f.input :objective15_comments %>
    <%= f.input :objective15_eval_comments %>
    <%= f.input :objective15_qualifier %>
    <%= f.input :objective15_evalq %>
    <%= f.input :nextpobjective15 %>
    <%= f.input :objective25 %>
    <%= f.input :objective25_comments %>
    <%= f.input :objective25_eval_comments %>
    <%= f.input :objective25_qualifier %>
    <%= f.input :objective25_evalq %>
    <%= f.input :nextpobjective25 %>
    <%= f.input :objective35 %>
    <%= f.input :objective35_comments %>
    <%= f.input :objective35_eval_comments %>
    <%= f.input :objective35_qualifier %>
    <%= f.input :objective35_evalq %>
    <%= f.input :nextpobjective35 %>
    <%= f.input :overalleval %>
    <%= f.input :user_id %>
    <%= f.input :year %>
    <%= f.input :evaluator_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
