<p id="notice"><%= notice %></p>

<p>
  <b>Category name 1:</b>
  <%= @evaluation.category_name_1 %>
</p>

<p>
  <b>Objective11:</b>
  <%= @evaluation.objective11 %>
</p>

<p>
  <b>Objective11 comments:</b>
  <%= @evaluation.objective11_comments %>
</p>

<p>
  <b>Objective11 eval comments:</b>
  <%= @evaluation.objective11_eval_comments %>
</p>

<p>
  <b>Objective11 qualifier:</b>
  <%= @evaluation.objective11_qualifier %>
</p>

<p>
  <b>Objective11 evalq:</b>
  <%= @evaluation.objective11_evalq %>
</p>

<p>
  <b>Nextpobjective11:</b>
  <%= @evaluation.nextpobjective11 %>
</p>

<p>
  <b>Objective21:</b>
  <%= @evaluation.objective21 %>
</p>

<p>
  <b>Objective21 comments:</b>
  <%= @evaluation.objective21_comments %>
</p>

<p>
  <b>Objective21 eval comments:</b>
  <%= @evaluation.objective21_eval_comments %>
</p>

<p>
  <b>Objective21 qualifier:</b>
  <%= @evaluation.objective21_qualifier %>
</p>

<p>
  <b>Objective21 evalq:</b>
  <%= @evaluation.objective21_evalq %>
</p>

<p>
  <b>Nextpobjective21:</b>
  <%= @evaluation.nextpobjective21 %>
</p>

<p>
  <b>Objective31:</b>
  <%= @evaluation.objective31 %>
</p>

<p>
  <b>Objective31 comments:</b>
  <%= @evaluation.objective31_comments %>
</p>

<p>
  <b>Objective31 eval comments:</b>
  <%= @evaluation.objective31_eval_comments %>
</p>

<p>
  <b>Objective31 qualifier:</b>
  <%= @evaluation.objective31_qualifier %>
</p>

<p>
  <b>Objective31 evalq:</b>
  <%= @evaluation.objective31_evalq %>
</p>

<p>
  <b>Nextpobjective31:</b>
  <%= @evaluation.nextpobjective31 %>
</p>

<p>
  <b>Category name 2:</b>
  <%= @evaluation.category_name_2 %>
</p>

<p>
  <b>Objective12:</b>
  <%= @evaluation.objective12 %>
</p>

<p>
  <b>Objective12 comments:</b>
  <%= @evaluation.objective12_comments %>
</p>

<p>
  <b>Objective12 eval comments:</b>
  <%= @evaluation.objective12_eval_comments %>
</p>

<p>
  <b>Objective12 qualifier:</b>
  <%= @evaluation.objective12_qualifier %>
</p>

<p>
  <b>Objective12 evalq:</b>
  <%= @evaluation.objective12_evalq %>
</p>

<p>
  <b>Nextpobjective12:</b>
  <%= @evaluation.nextpobjective12 %>
</p>

<p>
  <b>Objective22:</b>
  <%= @evaluation.objective22 %>
</p>

<p>
  <b>Objective22 comments:</b>
  <%= @evaluation.objective22_comments %>
</p>

<p>
  <b>Objective22 eval comments:</b>
  <%= @evaluation.objective22_eval_comments %>
</p>

<p>
  <b>Objective22 qualifier:</b>
  <%= @evaluation.objective22_qualifier %>
</p>

<p>
  <b>Objective22 evalq:</b>
  <%= @evaluation.objective22_evalq %>
</p>

<p>
  <b>Nextpobjective22:</b>
  <%= @evaluation.nextpobjective22 %>
</p>

<p>
  <b>Objective32:</b>
  <%= @evaluation.objective32 %>
</p>

<p>
  <b>Objective32 comments:</b>
  <%= @evaluation.objective32_comments %>
</p>

<p>
  <b>Objective32 eval comments:</b>
  <%= @evaluation.objective32_eval_comments %>
</p>

<p>
  <b>Objective32 qualifier:</b>
  <%= @evaluation.objective32_qualifier %>
</p>

<p>
  <b>Objective32 evalq:</b>
  <%= @evaluation.objective32_evalq %>
</p>

<p>
  <b>Nextpobjective32:</b>
  <%= @evaluation.nextpobjective32 %>
</p>

<p>
  <b>Category name 3:</b>
  <%= @evaluation.category_name_3 %>
</p>

<p>
  <b>Objective13:</b>
  <%= @evaluation.objective13 %>
</p>

<p>
  <b>Objective13 comments:</b>
  <%= @evaluation.objective13_comments %>
</p>

<p>
  <b>Objective13 eval comments:</b>
  <%= @evaluation.objective13_eval_comments %>
</p>

<p>
  <b>Objective13 qualifier:</b>
  <%= @evaluation.objective13_qualifier %>
</p>

<p>
  <b>Objective13 evalq:</b>
  <%= @evaluation.objective13_evalq %>
</p>

<p>
  <b>Nextpobjective13:</b>
  <%= @evaluation.nextpobjective13 %>
</p>

<p>
  <b>Objective23:</b>
  <%= @evaluation.objective23 %>
</p>

<p>
  <b>Objective23 comments:</b>
  <%= @evaluation.objective23_comments %>
</p>

<p>
  <b>Objective23 eval comments:</b>
  <%= @evaluation.objective23_eval_comments %>
</p>

<p>
  <b>Objective23 qualifier:</b>
  <%= @evaluation.objective23_qualifier %>
</p>

<p>
  <b>Objective23 evalq:</b>
  <%= @evaluation.objective23_evalq %>
</p>

<p>
  <b>Nextpobjective23:</b>
  <%= @evaluation.nextpobjective23 %>
</p>

<p>
  <b>Objective33:</b>
  <%= @evaluation.objective33 %>
</p>

<p>
  <b>Objective33 comments:</b>
  <%= @evaluation.objective33_comments %>
</p>

<p>
  <b>Objective33 eval comments:</b>
  <%= @evaluation.objective33_eval_comments %>
</p>

<p>
  <b>Objective33 qualifier:</b>
  <%= @evaluation.objective33_qualifier %>
</p>

<p>
  <b>Objective33 evalq:</b>
  <%= @evaluation.objective33_evalq %>
</p>

<p>
  <b>Category name 4:</b>
  <%= @evaluation.category_name_4 %>
</p>

<p>
  <b>Objective14:</b>
  <%= @evaluation.objective14 %>
</p>

<p>
  <b>Objective14 comments:</b>
  <%= @evaluation.objective14_comments %>
</p>

<p>
  <b>Objective14 eval comments:</b>
  <%= @evaluation.objective14_eval_comments %>
</p>

<p>
  <b>Objective14 qualifier:</b>
  <%= @evaluation.objective14_qualifier %>
</p>

<p>
  <b>Objective14 evalq:</b>
  <%= @evaluation.objective14_evalq %>
</p>

<p>
  <b>Nextpobjective14:</b>
  <%= @evaluation.nextpobjective14 %>
</p>

<p>
  <b>Objective24:</b>
  <%= @evaluation.objective24 %>
</p>

<p>
  <b>Objective24 comments:</b>
  <%= @evaluation.objective24_comments %>
</p>

<p>
  <b>Objective24 eval comments:</b>
  <%= @evaluation.objective24_eval_comments %>
</p>

<p>
  <b>Objective24 qualifier:</b>
  <%= @evaluation.objective24_qualifier %>
</p>

<p>
  <b>Objective24 evalq:</b>
  <%= @evaluation.objective24_evalq %>
</p>

<p>
  <b>Nextpobjective24:</b>
  <%= @evaluation.nextpobjective24 %>
</p>

<p>
  <b>Objective34:</b>
  <%= @evaluation.objective34 %>
</p>

<p>
  <b>Objective34 comments:</b>
  <%= @evaluation.objective34_comments %>
</p>

<p>
  <b>Objective34 eval comments:</b>
  <%= @evaluation.objective34_eval_comments %>
</p>

<p>
  <b>Objective34 qualifier:</b>
  <%= @evaluation.objective34_qualifier %>
</p>

<p>
  <b>Objective34 evalq:</b>
  <%= @evaluation.objective34_evalq %>
</p>

<p>
  <b>Nextpobjective34:</b>
  <%= @evaluation.nextpobjective34 %>
</p>

<p>
  <b>Nextpobjective34:</b>
  <%= @evaluation.nextpobjective34 %>
</p>

<p>
  <b>Category name 4:</b>
  <%= @evaluation.category_name_4 %>
</p>

<p>
  <b>Objective14:</b>
  <%= @evaluation.objective14 %>
</p>

<p>
  <b>Objective14 comments:</b>
  <%= @evaluation.objective14_comments %>
</p>

<p>
  <b>Objective14 eval comments:</b>
  <%= @evaluation.objective14_eval_comments %>
</p>

<p>
  <b>Objective14 qualifier:</b>
  <%= @evaluation.objective14_qualifier %>
</p>

<p>
  <b>Objective14 evalq:</b>
  <%= @evaluation.objective14_evalq %>
</p>

<p>
  <b>Nextpobjective14:</b>
  <%= @evaluation.nextpobjective14 %>
</p>

<p>
  <b>Objective24:</b>
  <%= @evaluation.objective24 %>
</p>

<p>
  <b>Objective24 comments:</b>
  <%= @evaluation.objective24_comments %>
</p>

<p>
  <b>Objective24 eval comments:</b>
  <%= @evaluation.objective24_eval_comments %>
</p>

<p>
  <b>Objective24 qualifier:</b>
  <%= @evaluation.objective24_qualifier %>
</p>

<p>
  <b>Objective24 evalq:</b>
  <%= @evaluation.objective24_evalq %>
</p>

<p>
  <b>Nextpobjective24:</b>
  <%= @evaluation.nextpobjective24 %>
</p>

<p>
  <b>Objective34:</b>
  <%= @evaluation.objective34 %>
</p>

<p>
  <b>Objective34 comments:</b>
  <%= @evaluation.objective34_comments %>
</p>

<p>
  <b>Objective34 eval comments:</b>
  <%= @evaluation.objective34_eval_comments %>
</p>

<p>
  <b>Objective34 qualifier:</b>
  <%= @evaluation.objective34_qualifier %>
</p>

<p>
  <b>Objective34 evalq:</b>
  <%= @evaluation.objective34_evalq %>
</p>

<p>
  <b>Nextpobjective34:</b>
  <%= @evaluation.nextpobjective34 %>
</p>

<p>
  <b>Category name 5:</b>
  <%= @evaluation.category_name_5 %>
</p>

<p>
  <b>Objective15:</b>
  <%= @evaluation.objective15 %>
</p>

<p>
  <b>Objective15 comments:</b>
  <%= @evaluation.objective15_comments %>
</p>

<p>
  <b>Objective15 eval comments:</b>
  <%= @evaluation.objective15_eval_comments %>
</p>

<p>
  <b>Objective15 qualifier:</b>
  <%= @evaluation.objective15_qualifier %>
</p>

<p>
  <b>Objective15 evalq:</b>
  <%= @evaluation.objective15_evalq %>
</p>

<p>
  <b>Nextpobjective15:</b>
  <%= @evaluation.nextpobjective15 %>
</p>

<p>
  <b>Objective25:</b>
  <%= @evaluation.objective25 %>
</p>

<p>
  <b>Objective25 comments:</b>
  <%= @evaluation.objective25_comments %>
</p>

<p>
  <b>Objective25 eval comments:</b>
  <%= @evaluation.objective25_eval_comments %>
</p>

<p>
  <b>Objective25 qualifier:</b>
  <%= @evaluation.objective25_qualifier %>
</p>

<p>
  <b>Objective25 evalq:</b>
  <%= @evaluation.objective25_evalq %>
</p>

<p>
  <b>Nextpobjective25:</b>
  <%= @evaluation.nextpobjective25 %>
</p>

<p>
  <b>Objective35:</b>
  <%= @evaluation.objective35 %>
</p>

<p>
  <b>Objective35 comments:</b>
  <%= @evaluation.objective35_comments %>
</p>

<p>
  <b>Objective35 eval comments:</b>
  <%= @evaluation.objective35_eval_comments %>
</p>

<p>
  <b>Objective35 qualifier:</b>
  <%= @evaluation.objective35_qualifier %>
</p>

<p>
  <b>Objective35 evalq:</b>
  <%= @evaluation.objective35_evalq %>
</p>

<p>
  <b>Nextpobjective35:</b>
  <%= @evaluation.nextpobjective35 %>
</p>

<p>
  <b>Overalleval:</b>
  <%= @evaluation.overalleval %>
</p>

<p>
  <b>User:</b>
  <%= @evaluation.user_id %>
</p>

<p>
  <b>Year:</b>
  <%= @evaluation.year %>
</p>

<p>
  <b>Evaluator:</b>
  <%= @evaluation.evaluator_id %>
</p>


<%= link_to 'Edit', edit_evaluation_path(@evaluation) %> |
<%= link_to 'Back', evaluations_path %>
