<h1>Listing evalists</h1>

<table>
  <tr>
    <th>Evaluator</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @evalists.each do |evalist| %>
  <tr>
    <td><%= evalist.evaluator_id %></td>
    <td><%= evalist.user_id %></td>
    <td><%= link_to 'Show', evalist %></td>
    <td><%= link_to 'Edit', edit_evalist_path(evalist) %></td>
    <td><%= link_to 'Destroy', evalist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Evalist', new_evalist_path %>
